<!-- Mobile Navbar -->
<ng-container *ngIf="isMobile">
  <div class="navbar-mobile">
    <div class="navbar-mobile__header">
      <img [src]="imageSrc" alt="Logo" class="logo" />
     <span class="title" *ngIf="!isMobile && title">{{ title }}</span>
      <button (click)="toggleMenu()" class="menu-toggle">
        <span *ngIf="!isMenuOpen">☰</span>
        <span *ngIf="isMenuOpen">✖</span>
      </button>
    </div>

    <div *ngIf="isMenuOpen" class="navbar-mobile__dropdown">
      <a routerLink="/home" class="navbar__link">Home</a>
      <a routerLink="/about" class="navbar__link">About</a>
      <a routerLink="/contact" class="navbar__link">Contact</a>
    </div>
  </div>
</ng-container>

<!-- Desktop Navbar -->
<ng-container *ngIf="!isMobile">
  <nav class="navbar">
    <div class="navbar__logo-section">
      <img [src]="imageSrc" alt="Logo" class="logo" />
     <span class="title" *ngIf="!isMobile && title">{{ title }}</span>
    </div>
    <ul class="navbar__links">
      <li><a routerLink="/home" class="navbar__link">Home</a></li>
      <li><a routerLink="/about" class="navbar__link">About</a></li>
      <li><a routerLink="/contact" class="navbar__link">Contact</a></li>
       <li><app-button label="login"></app-button></li>
      <li><app-button label="Sign Up" variant="secondary" ></app-button></li>
    </ul>

  </nav>
</ng-container>
