

button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }
  
  .primary {
    background-color: #B91E1E;
  }
  
  .secondary {
    background-color: #BA551E;
  }
  
  .danger {
    background-color: #dc3545;
  }

  .outline{
    border: 1px solid #B91E1E;
    color: #B91E1E;
    background: #ffffff;
    text-align: center;
  }

  .outline:hover {
    background: #ededed;
  }
  
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .loading {
    position: relative;
  }
  
  .loader {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    animation: spin 0.6s linear infinite;
  }
  
  @keyframes spin {  
    to {
      transform: rotate(360deg);
    }
  }
  